{{ form_start(form, {'attr': {'class': 'CommentForm', 'novalidate': 'novalidate'}}) }}
    <div style="display: none;">
        {{ form_widget(form.parent) }}
    </div>
    <fieldset class="bab-Grid bab-Grid--smallGutters">
        <div class="bab-Grid-cell bab-Grid-cell--1-3">
            {{ form_label(form.auteur, 'Nom') }}
            {{ form_widget(form.auteur) }}
            <span class="CommentForm_error" id="error-auteur"></span>
        </div>
        <div class="bab-Grid-cell bab-Grid-cell--1-3">
            {{ form_label(form.email, 'Adresse email') }}
            {{ form_widget(form.email) }}
            <span class="CommentForm_error" id="error-email"></span>
        </div>
        <div class="bab-Grid-cell bab-Grid-cell--1-3">
            {{ form_label(form.site, 'Site web') }}
            {{ form_widget(form.site) }}
            <span class="CommentForm_error" id="error-site"></span>
        </div>
    </fieldset>
    <fieldset class="bab-Grid bab-Grid--smallGutters">
        <div class="bab-Grid-cell bab-Grid-cell--1-1">
            {{ form_label(form.contenu, 'Commentaire') }}
            <span class="CommentForm_error" id="error-contenu"></span>
            {{ form_widget(form.contenu) }}
        </div>
    </fieldset>
    <fieldset class="bab-Grid bab-Grid--smallGutters">
        <div class="bab-Grid-cell bab-Grid-cell--1-1">
            <span class="CommentForm_error" id="error-recaptcha"></span>
            {{ form_widget(form.recaptcha) }}
        </div>
    </fieldset>
    <div class="bab-Grid bab-Grid--smallGutters">
        <div class="bab-Grid-cell bab-Grid-cell--1-1">
            <button class="bab-Button" type="submit">
                Envoyer le commentaire
            </button>
        </div>
    </div>
{{ form_end(form) }}
