{% extends "BabdelauraBlogBundle:Admin:layout.html.twig" %}

{% block content %}
    <h1>Ajout d'une page interne</h1>
    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.titre, "Titre") }}
            {{ form_errors(form.titre)}}
            {{ form_widget(form.titre) }}
        </div>

        <div
            class="form-group js-wysiwyg-editor"
            data-browse-url="{{ path('babdelaurablog_admin_galerieImages') }}"
            data-css-url="{{ asset('css/contents.css') }}">
            {{ form_label(form.contenu, "Contenu de la page") }}
            {{ form_errors(form.contenu)}}
            {{ form_widget(form.contenu) }}
        </div>

        <div class="checkbox">
            {{ form_widget(form.publication) }}
            {{ form_label(form.publication, "Publier la page") }}
            {{ form_errors(form.publication)}}
        </div>

        <div class="checkbox">
            {{ form_widget(form.inMenu) }}
            {{ form_label(form.inMenu, "Afficher dans le menu") }}
            {{ form_errors(form.inMenu)}}
        </div>

        <div class="checkbox">
            {{ form_widget(form.inFooter) }}
            {{ form_label(form.inFooter, "Afficher dans le footer") }}
            {{ form_errors(form.inFooter)}}
        </div>
        
        <div class="checkbox">
            {{ form_widget(form.mettreEnAvant) }}
            {{ form_label(form.mettreEnAvant, "Mettre en avant") }}
            {{ form_errors(form.mettreEnAvant)}}
        </div>

        <div class="form-group">
            {{ form_label(form.position, "Position") }}
            {{ form_errors(form.position)}}
            {{ form_widget(form.position) }}
        </div>


        <button class="bab-Button" type="submit">Enregistrer la page</button>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>

    {{ parent() }}
{% endblock %}
