{% extends "BabdelauraBlogBundle:Admin:layout.html.twig" %}

{% block content %}
    <h1>Liste des pages</h1>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Date</th>
                <th>Edition</th>
                <th class="text-centered">Publication</th>
                <th class="text-centered">Menu</th>
                <th class="text-centered">Footer</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for page in listePages %}
            <tr>
                <td><a class="link-unstyled" href="{{ path('babdelaurablog_admin_afficherPage', {'slug' : page.slug}) }}">{{ page.titre|truncate(50,true) }}</a></td>
                <td>{{page.datePublication|date("d/m/Y H:i")}}</td>
                <td>{{page.dateEdition|date("d/m/Y H:i")}}</td>

                <td class="text-centered"><a href="{{ path('babdelaurablog_admin_publierPage', {'slug' : page.slug}) }}">
                {% if page.publication %}
                    <i class="fa fa-check" onmouseover="this.className = 'fa fa-times';" onmouseout="this.className = 'fa fa-check';"></i>
                {% else %}
                    <i class="fa fa-times" onmouseout="this.className = 'fa fa-times';" onmouseover="this.className = 'fa fa-check';"></i>
                {% endif %}

                </a></td>
                <td class="text-centered">
                    {% if page.inMenu %}
                        <i class="fa fa-check"></i>
                    {% else %}
                        <i class="fa fa-times"></i>
                    {% endif %}
                </td>
                <td class="text-centered">
                    {% if page.inFooter %}
                        <i class="fa fa-check"></i>
                    {% else %}
                        <i class="fa fa-times"></i>
                    {% endif %}
                </td>
                <td>
                    <ul class="actions">
                        <li class="action">
                            <a href="{{ path('babdelaurablog_admin_afficherPage', {'slug' : page.slug}) }}"><i class="fa fa-eye"></i></a>
                        </li>
                        <li class="action">
                            <a href="{{ path('babdelaurablog_admin_modifierPage', {'slug' : page.slug}) }}"><i class="fa fa-edit"></i></a>
                        </li>
                        <li class="action">
                            <a href="{{ path('babdelaurablog_admin_supprimerPage', {'slug' : page.slug}) }}"><i class="fa fa-trash-o"></i></a>
                        </li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="text-centered">
        {{ knp_pagination_render(listePages) }}
    </div>
{% endblock %}
