{% set slideshow = slideshow|default(false) %}

<article class="bab-Article">
    <header class="bab-Article-header">
        <h2 class="bab-Article-title">
            {{ article.titre  }}
        </h2>
        <div>
            <a class="bab-Article-category" href="{{ path('babdelaurablog_categorie', {'slug': article.categorie.slug}) }}" title="Voir les articles de la catégorie {{ article.categorie.nom }}">
                {{ article.categorie.nom }}
            </a>
            <time class="bab-Article-pubdate" datetime="{{ article.datePublication|date('Y-m-d') }}" pubdate>
                {{ article.datePublication|localizeddate('medium', 'none') }}
            </time>
            <a class="bab-Article-nbComments" href="#commentaires" title="Lire les commentaires">
                {% include 'BabdelauraBlogBundle:Components:icon.html.twig' with {'name': 'bubbles2'} only %}
                {{ article.getNbCommentaires(true)|length }}
            </a>
        </div>
        {% if article.tags|length > 0 %}
            <ul class="bab-Article-tags">
                {% for tag in article.tags %}
                    <li class="bab-Tag"><a href="{{ path('babdelaurablog_tag', {'slug': tag.slug}) }}" title="Voir les articles du tag {{ tag.nom }}">
                {{ tag.nom }}
            </a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </header>
    <div class="bab-Article-content {% if slideshow %}bab-Article-content--withSlideshow js-images-slideshow{% endif %}" {% if slideshow %}data-gallery-pswp-element="#pswp-element"{% endif %}>
        {{ article.contenu|raw }}
    </div>

    {% include 'BabdelauraBlogBundle:Components/article:share.html.twig' %}

    {% include 'BabdelauraBlogBundle:Components:photoswipe.html.twig' with {'id': 'pswp-element'} %}
</article>
