<article class="bab-Article">
    <header class="bab-Article-header">
        <h2 class="bab-Article-title">
            {{ article.titre  }}
        </h2>
        <div>
            <a class="bab-Article-category" href="{{ path('babdelaurablog_categorie', {'slug': article.categorie.slug}) }}" title="Voir les articles de la catégorie {{ article.categorie.nom }}">
                {{ article.categorie.nom }}
            </a>
            <time class="bab-Article-pubdate" datetime="{{ article.datePublication|date('Y-m-d') }}" pubdate>
                {{ article.datePublication|localizeddate('medium', 'none') }}
            </time>
            <a class="bab-Article-nbComments" href="#commentaires" title="Lire les commentaires">
                {% include 'BabdelauraBlogBundle:Components:icon.html.twig' with {'name': 'bubbles2'} only %}
                {{ article.commentaires|length }}
            </a>
        </div>
    </header>
    <div class="bab-Article-content">
        {{ article.contenu|raw }}
    </div>
    {% include 'BabdelauraBlogBundle:Components/article:share.html.twig' %}
</article>
