{% set articleUrl = path('babdelaurablog_article', {'slug': article.slug, 'annee': article.datePublication|date("Y"), 'mois': article.datePublication|date("m"), 'jour': article.datePublication|date("d")}) %} %}

<article class="bab-ArticlePreview">
    <header class="bab-ArticlePreview-header" style="background-image: url('{{ asset(article.image.webPath) }}');">
        <div class="bab-ArticlePreview-shadow"></div>
        <a class="bab-ArticlePreview-readMore bab-Button bab-Button--large" href="{{ articleUrl }}" tabindex="-1">
            Lire la suite
        </a>
    </header>
    <h1 class="bab-ArticlePreview-title">
        <a href="{{ articleUrl }}">
            {{ article.titre }}
        </a>
    </h1>
    <aside class="bab-ArticlePreview-infos">
        <a href="{{ path('babdelaurablog_categorie', {'slug' : article.categories[0].slug}) }}">
            {{ article.categories[0].nom }}
        </a>
        <time datetime="2016-05-22" pubdate>
            {{ article.datePublication|localizeddate('medium', 'none') }}
        </time>
        <a href="{{ articleUrl }}#commentaires">
            {% include 'BabdelauraBlogBundle:Components:icon.html.twig' with {'name': 'bubbles2'} only %}
            {{ article.commentaires|length }}
        </a>
    </aside>
</article>
