{% extends "BabdelauraBlogBundle:Admin:layout.html.twig" %}

{% block content %}
<div class="bab-Grid">
    <div class="bab-Grid-cell bab-Grid-cell--2-3">
        <h1>Visualiser l'article</h1>
        <section>
            {% set nbCommentaires = article.nbCommentaires %}
            {% set nbCommentairesNonValides = article.getNbCommentaires(false) %}
            <header>
                {% if article.publication %}
                    {% set classTitre = "bab-Article-title" %}
                {% else %}
                    {% set classTitre = "bab-Article-title bab-Article-title--draft" %}
                {% endif %}
                <h1 class="{{classTitre}}">
                    {% if date(article.datePublication) > date() %}
                        <i class="fa fa-clock-o"></i>
                    {% endif %}
                    {{ article.titre }}
                </h1>
                <aside class="bab-Article-infos">
                    Le {{ article.datePublication|date("d/m/Y à H:i") }} -
                    <a href="#commentaires">{{nbCommentaires}} {% if nbCommentaires <= 1 %}commentaire{% else %}commentaires{% endif %} {% if nbCommentairesNonValides > 0 %} (dont {{nbCommentairesNonValides}} à valider){% endif %}</a>
                    <ul class="bab-Article-categories">
                            <li class="bab-Article-category"><a href="#">{{article.categorie.nom}}</a></li>
                    </ul>
                </aside>
            </header>
            <div class="bab-Article-content">
                <p>{{article.contenu | raw}}</p>
            </div>
        </section>
    </div>
    <div class="bab-Grid-cell bab-Grid-cell--1-3">
        <h1>Gestion</h1>
        <a class="bab-Button" href="{{ path('babdelaurablog_admin_modifierArticle', {'slug' : article.slug}) }}"><i class="fa fa-edit"></i> Modifier</a>
        <a class="bab-Button" href="{{ path('babdelaurablog_admin_publierArticle', {'slug' : article.slug}) }}"><i class="fa fa-times"></i> Dépublier</a>
    </div>
</div>
<div class="bab-Grid">
    <div class="bab-Grid-cell bab-Grid-cell--2-3">
        <h1 id="commentaires">Commentaires</h1>
        {% if nbCommentaires > 0 %}

            <ul class="list-unstyled">
                {% for commentaire in article.commentaires %}
                <li class="bab-Comment">
                    <header class="bab-Comment-header">
                        {% if commentaire.valide == false %}
                            {% set badgeClass = 'bab-Badge--danger' %}
                        {% else %}
                            {% set badgeClass = 'bab-Badge--success' %}
                        {% endif %}
                        <span class="comment-number bab-Badge {{badgeClass}}">#{{ loop.index }}</span>
                        {% if commentaire.site %}
                            <a href="{{ asset(commentaire.site) }}" target="_blank">{{ commentaire.auteur }}</a>
                        {% else %}
                            {{ commentaire.auteur }}
                        {% endif %}
                        <span class="bab-Comment-date">le {{ commentaire.datePublication|date("d/m/Y à H:i") }}</span>
                        
                        <a href="{{path('babdelaurablog_admin_supprimerCommentaire', {'idCom' : commentaire.id})}}" class="bab-Button bab-Button--small pull-right"><i class="fa fa-trash-o"></i> Supprimer</a>
                        {% if commentaire.valide == false %}
                            <a href="{{path('babdelaurablog_admin_validerCommentaire', {'slug' : article.slug, 'idCom' : commentaire.id})}}" class="bab-Button bab-Button--small pull-right"><i class="fa fa-check-square-o"></i> Valider</a>
                        {% endif %}

                    </header>
                    <div class="bab-Comment-content">
                        {{ commentaire.contenu }}
                    </div>
                </li>
                {% endfor %}

            </ul>

        {% else %}
            <p>
                Aucun commentaire.
            </p>
        {% endif %}

        <form class="comment-form" action="{{ path('babdelaurablog_admin_ajouterCommentaire', {'slug' : article.slug}) }}" method="post" class="comment-form" id="new-comment">
            <h1>Poster un commentaire</h1>
            <div>
                {{ form_errors(form) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.auteur, {'attr': {'class': 'hidden'}}) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.email, {'attr': {'class': 'hidden'}}) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.site, {'attr': {'class': 'hidden'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.contenu, "Votre commentaire") }}
                {{ form_widget(form.contenu) }}
            </div>
            {{ form_widget(form._token) }}
            <button class="bab-Button" type="submit">Envoyer mon commentaire</button>
        </form>
    </div>
    <div class="bab-Grid-cell bab-Grid-cell--1-3">
        <h1>Gestion</h1>
        {% if nbCommentairesNonValides > 0 %}
            <a class="bab-Button" href="{{path('babdelaurablog_admin_validerCommentairesArticle', {'slug' : article.slug})}}"><i class="fa fa-check-square-o"></i> Tout valider</a>
        {% endif %}
    </div>
</div>

{% endblock %}
