{% extends "BabdelauraBlogBundle:Admin:layout.html.twig" %}

{% block content %}
    <h1>Ajout d'un article</h1>
    <form method="post" {{ form_enctype(form) }}>
        <div class="form-group">
            {{ form_label(form.titre, "Titre") }}
            {{ form_errors(form.titre)}}
            {{ form_widget(form.titre) }}
        </div>

        <div class="form-group">
            {{ form_label(form.contenu, "Contenu de l'article") }}
            {{ form_errors(form.contenu)}}
            {{ form_widget(form.contenu) }}
        </div>

        <div class="row">
            <div class="form-group six columns">
                {#<div>
                    <input type="file" id="main-image-file" name="mainImageFile" data-action="{{url('babdelaurablog_admin_uploaderImage', {'addWatermark': 'false'})}}" />
                    <button class="button" id="button-upload-main-image" type="submit">
                        <i class="fa fa-upload"></i> Ajouter une image principale
                    </button>
                </div>#}
                <button class="button" id="button-choose-image" type="button">
                    <i class="fa fa-camera"></i> Choisir une image principale
                </button>

                {% if article.image %}
                    {% set src = asset(article.image.webPath) %}
                {% else %}
                    {% set src = asset('images/no-photo.png') %}
                {% endif %}

                <img class="image-preview" id="image-preview" src="{{ src }}" />
                {{ form_widget(form.imageTemp) }}
            </div>

            <div class="form-group six columns">
                {{ form_label(form.categories, "Catégories") }}
                {{ form_errors(form.categories)}}
                {{ form_widget(form.categories) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.datePublication, "Date de publication") }}
            {{ form_errors(form.datePublication)}}
            {{ form_widget(form.datePublication) }}
        </div>

        <div class="checkbox">
            {{ form_widget(form.publication) }}
            {{ form_label(form.publication, "Publier l'article") }}
            {{ form_errors(form.publication)}}
        </div>

        {{ form_rest(form) }}
        <button class="button" type="submit" id="submit-btn">Enregistrer l'article</button>
    </form>

    <div class="modal" id="modal-choose-image">
        <div class="modal-shadow"></div>
        <div class="modal-container">
            <button class="modal-close"><i class="fa fa-times"></i>
            </button>
            <div class="modal-content">
                <h1>Ajouter une image</h1>
                <form id="upload-main-image" method="post" action="{{url('babdelaurablog_admin_uploaderImage', {'addWatermark': 'false'})}}" enctype="multipart/form-data">
                    <input type="file" name="mainImageFile" />
                    <button class="button" type="submit"><i class="fa fa-upload"></i> Envoyer l'image</button>
                </form>
                <h1>Sélectionner une image dans la gallerie</h1>
                <div id="gallery"></div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{parent()}}
    <script src="{{asset('bundles/babdelaurablog/js/ckeditor/ckeditor.js')}}"></script>
    <script>
        CKEDITOR.config.entities = false;
        CKEDITOR.config.entities_latin = false;

        CKEDITOR.replace('babdelaura_blogbundle_article_contenu', {
            filebrowserBrowseUrl: '{{path('babdelaurablog_admin_listerImages')}}',
            filebrowserUploadUrl: '{{path('babdelaurablog_admin_uploaderImage')}}',
            contentsCss: '{{asset('css/contents.css')}}'
        });

        (function($) {
            var $chooseImageButton = $('#button-choose-image');
            var $chooseImageModal = $('#modal-choose-image');
            var $chooseImageCloseButton = $chooseImageModal.find('.modal-close');
            var $chooseImageInput = $('#babdelaura_blogbundle_article_imageTemp');
            var $chooseImagePreview = $('#image-preview');
            var modalContentAlreadyFilled = false;
            var clickedSave = false;

            function openModal() {
                $chooseImageModal.addClass('open');
                getGallery();
            }

            function closeModal() {
                $chooseImageModal.removeClass('open');
            }

            function getGallery(url) {
                var ajaxUrl = url || '{{path('babdelaurablog_admin_listerImages')}}';
                $.ajax({
                    url: ajaxUrl,
                    type: 'get',
                    beforeSend: showLoader,
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.error(textStatus, errorThrown);
                    },
                    success: fillGallery
                });
            }

            function showLoader() {
                $chooseImageModal.find('#gallery').html('<p>Chargement</p>');
            }

            function fillGallery(data) {
                $chooseImageModal.find('#gallery').html(data);
                modalContentAlreadyFilled = true;
            }

            function selectImage(event) {
                var $image = $(event.target);

                $chooseImageInput.val($image.attr('id'));
                previewImage($image.attr('src'));

                closeModal();
            }

            function previewImage(src) {
                $chooseImagePreview.attr('src', src);
            }

            $chooseImageButton.on('click', openModal);
            $chooseImageCloseButton.on('click', closeModal);
            $chooseImageModal.on('click', '.image-gallery-item', selectImage);
            $chooseImageModal.on('click', '.page:not(.current)', function(event) {
                event.preventDefault();
                var url = $(event.target).attr('href');

                getGallery(url);
            });

            $('#upload-main-image').on('submit', function(event) {
                event.preventDefault();

                var data = new FormData($(this)[0]);

                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: data,
                    cache: false,
                    contentType: false,
                    processData: false
                }).done(function(data) {
                    console.log(data);
                    $chooseImageInput.val(data.image.id);
                    previewImage(data.image.url);
                    closeModal();
                }).fail(function(jqXHR, status, errorThrown) {
                    console.log(errorThrown);
                    console.log(jqXHR.responseText);
                    console.log(jqXHR.status);
                });
            });

            $('#submit-btn').on('click', function() {
                clickedSave = true;
            });

            window.addEventListener('beforeunload', function(event) {
                if (!clickedSave) {
                    var confirmationMessage = "T'es sûre et certaine de vouloir quitter la page ?";

                    event.returnValue = confirmationMessage;
                }
            });
        })(jQuery);

    </script>
{% endblock %}
