{# src/RCloud/Bundle/RBundle/Resources/views/Editor/showEditor.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}RCloud R Editor{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/rclouduser/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/rcloudr/css/editor.css') }}">
{% endblock %}

{% block body %}
<nav>
    <ul class="menu unstyled line">
        <li>
            <button class="menu-item mod left" id="run-script"><i class="fa fa-play"></i> Run</button>
        </li>
        <li>
            <button class="menu-item mod left" id="save-script"><i class="fa fa-save"></i> Save</button>
        </li>
        <li>
            <button class="menu-item mod left" id="download-script"><i class="fa fa-download"></i> Download</button>
        </li>
        <li>
            <a class="menu-item mod left" href="{{ path('show_dashboard') }}"><i class="fa fa-arrow-left"></i> Back to dashboard</a>
        </li>
    </ul>
</nav>
<div id="editor-container" class="line">
    <div id="editor" class="mod left w50"></div>
    <div id="result" class="mod left w50"></div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/rcloudr/js/ace/ace.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/rcloudr/js/jquery/jquery.js') }}"></script>
    <script type="text/javascript">
        var editor = ace.edit('editor');
        editor.setTheme('ace/theme/monokai');
        editor.getSession().setMode('ace/mode/r');

        $(document).ready(function() {
            $('#run-script').click(function() {
                $.ajax({
                    type: 'POST',
                    url: "{{ path('run_script_ajax') }}",
                    data: {
                        script: editor.getValue()
                    },
                    beforeSend: function(jqXHR, settings) {
                        $('#result').html('<img src="{{ asset('bundles/rcloudr/images/ajax-loader.gif') }}" alt="" title="" />')
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        $('#result').html(textStatus);
                    },
                    success: function(data, textStatus, jqXHR) {
                        $('#result').html(data);
                    }
                });
            });
        });
    </script>
{% endblock %}