{% extends "BabdelauraBlogBundle:Admin:layout.html.twig" %}

{% block content %}
    <h1>Gallerie</h1>
    <div class="js-image-upload">
        <form class="js-image-upload-form" method="post" action="{{ path('babdelaurablog_admin_uploaderImage') }}" {{ form_enctype(form) }}>
            <div class="form-group">
                {{ form_label(form.file, "Image") }}
                {{ form_errors(form.file)}}
                {{ form_widget(form.file) }}
            </div>
            <div class="form-group">
                {{ form_label(form.watermark) }}
                {{ form_errors(form.watermark)}}
                {{ form_widget(form.watermark) }}
            </div>
            {{ form_rest(form) }}

            <button class="bab-Button" type="submit">Ajouter l'image</button>
        </form>
        <div>
            <div class="text-centered">
                    {{ knp_pagination_render(listeImages) }}
            </div>
            <div class="gallery">
                {% for image in listeImages %}
                <img class="bab-ImageGallery-item" src="{{ asset(image.webPath) }}" id="{{image.id}}"/>
                {% endfor %}
            </div>
            <div class="text-centered">
                    {{ knp_pagination_render(listeImages) }}
            </div>
        </div>
    </div>

    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                          <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
