<nav class="bab-Navigation">
    {% for category in categories %}
    <a class="bab-Navigation-item" href="{{ path('babdelaurablog_categorie', {'slug': category.slug}) }}">
        {{ category.nom }}
    </a>
    {% endfor %}

    {% for page in pages %}
        {% if page.isExterne %}
            {% set href = page.lienExterne %}
        {% else %}
            {% set href = path('babdelaurablog_page', {'slug': page.slug}) %}
        {% endif %}

        {% set className = 'bab-Navigation-item' %}

        {% if page.mettreEnAvant %}
            {% set className = className ~ ' bab-Navigation-item--highlight' %}
        {% endif %}

    <a class="{{ className }}" href="{{ href }}">
        {{ page.titre }}
    </a>
    {% endfor %}
</nav>
