{% extends "BabdelauraBlogBundle::layout.html.twig" %}

{% set metaDescription = article.contenu | truncate(500,true) | striptags %}

{% block facebookMetas %}
    {% set ogImage = asset(article.image.webPath) %}
    {% set ogTitle = article.titre %}

    {{ parent() }}
    <meta property="article:author" content="https://www.facebook.com/BabDeLaura" />
    <meta property="article:publisher" content="https://www.facebook.com/BabDeLaura" />
{% endblock %}

{% block pageTitle %}{{article.titre}} | {% endblock %}

{% block content %}
    {% include 'BabdelauraBlogBundle:Components/article:entry.html.twig' with {'article': article} only %}

    <nav class="clearfix">
        {% if urlArticleSuivant is not null %}
        <a class="bab-Button pull-left" href="{{ urlArticleSuivant }}">
            &lt; Article plus récent
        </a>
        {% endif %}

        {% if urlArticlePrecedent is not null %}
        <a class="bab-Button pull-right" href="{{ urlArticlePrecedent }}">
            Article plus ancien &gt;
        </a>
        {% endif %}
    </nav>

    {% include 'BabdelauraBlogBundle:Components/article:similars.html.twig' with {'articles': articlesSimilaires} only %}

    {% include 'BabdelauraBlogBundle:Components/comment:list.html.twig' with {'comments': article.commentaires} only %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://www.google.com/recaptcha/api.js" async></script>
{% endblock %}
