{% extends "BabdelauraBlogBundle::layout.html.twig" %}

{% set metaDescription = article.contenu | truncate(500,true) | striptags %}

{% block facebookMetas %}
    {% set ogImage = asset(article.image.webPath) %}
    {% set ogTitle = article.titre %}

    {{ parent() }}
    <meta property="article:author" content="https://www.facebook.com/BabDeLaura" />
    <meta property="article:publisher" content="https://www.facebook.com/BabDeLaura" />
{% endblock %}

{% block pageTitle %}{{article.titre}} | {% endblock %}

{% block content %}
    <section class="bab-Section">
        {% include 'BabdelauraBlogBundle:Components/article:entry.html.twig' with {'article': article} only %}
    </section>

    <nav class="bab-Section clearfix">
        {% if urlArticleSuivant is not null %}
        <a class="bab-Button bab-Button--block@small pull-left" href="{{ urlArticleSuivant }}">
            {% include 'BabdelauraBlogBundle:Components:icon.html.twig' with {'name': 'chevronLeft'} only %}
            Article plus récent
        </a>
        {% endif %}

        {% if urlArticlePrecedent is not null %}
        <a class="bab-Button bab-Button--block@small pull-right" href="{{ urlArticlePrecedent }}">
            Article plus ancien
            {% include 'BabdelauraBlogBundle:Components:icon.html.twig' with {'name': 'chevronRight'} only %}
        </a>
        {% endif %}
    </nav>

    <section class="bab-Section">
        <h2 class="bab-Section-title">
            Articles similaires
        </h2>
        <div class="bab-Grid bab-Grid--inlineBlock bab-Grid--smallGutters">
            {% set nbArticles = articlesSimilaires|length %}
            {% for article in articlesSimilaires %}
            <div class="bab-Grid-cell bab-Grid-cell--1-{{ nbArticles }} bab-Grid-cell--1-2@medium bab-Grid-cell--1-1@small">
                {% include 'BabdelauraBlogBundle:Components/article:preview.html.twig' with {'article': article, 'small': true, 'titleElement': 'h3'} only %}
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="bab-Section" id="commentaires">
        <h2 class="bab-Section-title">
            Laisser un commentaire
        </h2>
        <section class="bab-CommentForm-container js-comment-form" data-comment-form-notification="#comment-form-notification">
            {% include 'BabdelauraBlogBundle:Components/comment:form.html.twig' with {'form': form} only %}
        </section>
        <section class="js-comments" data-comments-form=".js-comment-form">
            {% include 'BabdelauraBlogBundle:Components/comment:list.html.twig' with {'comments': article.rootCommentairesValides} only %}
        </section>
    </section>

    <div class="bab-Notification" id="comment-form-notification">
        <button class="bab-Notification-close js-notification-closer" type="button">
            {% include 'BabdelauraBlogBundle:Components:icon.html.twig' with {'name': 'cross'} only %}
        </button>
        <p class="bab-Notification-content js-notification-content"></p>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://www.google.com/recaptcha/api.js" async></script>
{% endblock %}
