{% extends "BabdelauraBlogBundle::layout.html.twig" %}

{% set metaDescription = article.contenu | truncate(500,true) | striptags %}

{% block facebookMetas %}
    {% set ogImage = asset(article.image.webPath) %}
    {% set ogTitle = article.titre %}

    {{ parent() }}
    <meta property="article:author" content="https://www.facebook.com/BabDeLaura" />
    <meta property="article:publisher" content="https://www.facebook.com/BabDeLaura" />
{% endblock %}

{% block pageTitle %}{{article.titre}} | {% endblock %}


{% block mainContent %}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="notification notification-success">
            <div class="notification-content">{{ flashMessage }}</div>
        </div>
    {% endfor %}

    <section class="article" itemscope itemtype="http://schema.org/BlogPosting">
        {% set nbCommentaires = article.getNbCommentaires(true) %}
        <header>
            <h1 class="article-title" itemprop="name">{{ article.titre }}</h1>
            <aside class="article-infos">
                <time pubdate itemprop="datePublished">
                    Le {{ article.datePublication|date("d/m/Y à H:i") }}
                </time>
                -
                <a href="#commentaires" title="Accéder aux commentaires">
                    {{ nbCommentaires }}
                    {% if nbCommentaires <= 1 %}commentaire{% else %}commentaires{% endif %}
                </a>
                <ul class="article-categories" itemprop="keywords">
                    {% for categorie in article.categories %}
                        <li class="article-category">
                            <a href="{{ path('babdelaurablog_categorie', {'slug' : categorie.slug}) }}">
                                {{categorie.nom}}{% if not loop.last %},{% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </aside>
        </header>
        <div class="article-content" itemprop="articleBody">
            <p>{{article.contenu | raw}}</p>
        </div>
        {% include 'BabdelauraBlogBundle::Article/social-share.html.twig' %}
    </section>

    <nav class="article-navigation">
        {% if articlePrecedent is not null %}
            <a class="button" href="{{ path('babdelaurablog_article', {'slug': articlePrecedent.slug, 'annee': articlePrecedent.datePublication|date("Y"), 'mois': articlePrecedent.datePublication|date("m"), 'jour': articlePrecedent.datePublication|date("d")}) }}">
                <i class="fa fa-chevron-circle-left"></i> Article précédent
            </a>
        {% endif %}

        {% if articleSuivant is not null %}
            <a class="button pull-right" href="{{ path('babdelaurablog_article', {'slug': articleSuivant.slug, 'annee': articleSuivant.datePublication|date("Y"), 'mois': articleSuivant.datePublication|date("m"), 'jour': articleSuivant.datePublication|date("d")}) }}">
                Article suivant <i class="fa fa-chevron-circle-right"></i>
            </a>
        {% endif %}
    </nav>

    <h1 id="commentaires">Commentaires</h1>
    {% if nbCommentaires > 0 %}
    <ul class="comments">
        {% for commentaire in article.commentaires %}
            {% if commentaire.valide %}
            <li class="comment">
                <header class="comment-header">
                    <i class="fa fa-user"></i>
                    {% if commentaire.site %}
                        <a href="{{ asset(commentaire.site) }}" target="_blank">{{ commentaire.auteur }}</a>
                    {% else %}
                        {{ commentaire.auteur }}
                    {% endif %}
                    <span class="comment-date">le {{ commentaire.datePublication|date("d/m/Y à H:i") }}</span>
                </header>
                <div class="comment-content">
                    {{ commentaire.contenu }}
                </div>
            </li>
            {% endif %}
        {% endfor %}

    </ul>

    {% else %}
        <p>
            Aucun commentaire. Soyez le premier à commenter.
        </p>
    {% endif %}
    <form class="comment-form" action="#commentaires" method="post" class="comment-form" id="new-comment">
        <h1>Poster un commentaire</h1>
        <div class="form-group">
            {{ form_label(form.auteur, "Votre nom") }}
            {{ form_widget(form.auteur) }}
        </div>
        <div class="form-group">
            {{ form_label(form.email, "Votre adresse mail") }}
            {{ form_widget(form.email) }}
        </div>
        <div class="form-group">
            {{ form_label(form.site, "Votre site") }}
            {{ form_widget(form.site) }}
        </div>
        <div class="form-group">
            {{ form_label(form.contenu, "Votre commentaire") }}
            {{ form_widget(form.contenu) }}
        </div>
        <div class="form-group">
            {{ form_label(form.recaptcha, "Veuillez recopier le texte qui se trouve dans l'image ci-dessous") }}
            {{ form_widget(form.recaptcha) }}
        </div>
        {{ form_widget(form._token) }}

        <button class="button" type="submit">Envoyer mon commentaire</button>
    </form>

{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
        (function($) {
            var $notification = $('.notification');

            function closeNotification() {
                $notification.remove();
            }

            setTimeout(closeNotification, 10000);
        })(jQuery);
    </script>
{% endblock %}