<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Administration - Bric à Brac de Laura</title>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" media="screen" href="{{asset('css/main.css') }}" />

    <script src="{{ asset('js/Modernizr.js') }}"></script>

     {% include 'BabdelauraBlogBundle::favicon.html.twig' %}
</head>

<body>
    <header class="header"></header>
    <nav class="main-nav" id="main-nav">
        <div class="wrapper">
            <button class="main-nav-toggle" id="main-nav-toggle">
                <i class="fa fa-bars"></i>
            </button>
            <ul class="main-nav-container" id="main-nav-container">
                <li class="main-nav-item">
                    <a href="{{ path('babdelaurablog_admin_accueil')}}" title="">Accueil</a>
                </li>
                <li class="main-nav-item">
                    <a href="#" title="">Articles <i class="fa fa-caret-down"></i></a>
                    <ul class="main-nav-submenu">
                        <li class="main-nav-submenu-item">
                            <a href="{{ path('babdelaurablog_admin_listerArticles') }}">Liste des articles</a>
                        </li>
                        <li class="main-nav-submenu-item">
                            <a href="{{ path('babdelaurablog_admin_ajouterArticle') }}">Ajouter un article</a>
                        </li>
                    </ul>
                </li>
                <li class="main-nav-item">
                    <a href="#" title="">Catégories <i class="fa fa-caret-down"></i></a>
                    <ul class="main-nav-submenu">
                        <li class="main-nav-submenu-item">
                            <a href="{{ path ('babdelaurablog_admin_listerCategories')}}">Liste des catégories</a>
                        </li>
                        <li class="main-nav-submenu-item">
                            <a href="{{ path ('babdelaurablog_admin_ajouterCategorie')}}">Ajouter une catégorie</a>
                        </li>
                    </ul>
                </li>
                <li class="main-nav-item"><a href="#" title="">Commentaires <i class="fa fa-caret-down"></i></a>
                    <ul class="main-nav-submenu">
                        <li class="main-nav-submenu-item">
                            <a href="{{ path ('babdelaurablog_admin_listerCommentairesNonValides')}}">Valider les commentaires</a>
                        </li>
                    </ul>
                </li>
                <li class="main-nav-item">
                    <a href="#" title="">Pages <i class="fa fa-caret-down"></i></a>
                    <ul class="main-nav-submenu">
                        <li class="main-nav-submenu-item">
                            <a href="{{ path ('babdelaurablog_admin_listerPages')}}">Liste des pages</a>
                        </li>
                        <li class="main-nav-submenu-item">
                            <a href="{{ path ('babdelaurablog_admin_ajouterPage')}}">Ajouter une page</a>
                        </li>
                    </ul>
                </li>
                <li class="main-nav-item"><a href="{{ path('logout') }}" title="">Déconnexion</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content-inner wrapper row">
        <div class="twelve columns">
            {% block content %}

            {% endblock %}
        </div>
    </div>
    <footer class="footer">
        Site développé du bout de mes ongles.
    </footer>

    {% block javascripts %}
        <script src="{{ asset('js/app.js') }}"></script>
    {% endblock %}
</body>

</html>