{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
<ul class="bab-Pagination">
    {% if first is defined and current != first %}
        <li>
            <a class="bab-Pagination-page" href="{{ path(route, query|merge({(pageParameterName): first})) }}">Début</a>
        </li>
    {% endif %}

    {% if previous is defined %}
        <li>
            <a class="bab-Pagination-page" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">Précédente</a>
        </li>
    {% endif %}

    {% for page in pagesInRange %}
        {% if page != current %}
            <li>
                <a class="bab-Pagination-page" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
            </li>
        {% else %}
            <li><span class="bab-Pagination-page bab-Pagination-page--current">{{ page }}</span></li>
        {% endif %}

    {% endfor %}

    {% if next is defined %}
        <li>
            <a class="bab-Pagination-page" href="{{ path(route, query|merge({(pageParameterName): next})) }}">Suivante</a>
        </li>
    {% endif %}

    {% if last is defined and current != last %}
        <li>
            <a class="bab-Pagination-page" href="{{ path(route, query|merge({(pageParameterName): last})) }}">Fin</a>
        </li>
    {% endif %}
</ul>
{% endif %}
