<button class="bab-MainNav-toggle js-nav-toggle">
    <i class="fa fa-bars js-nav-toggle-icon"></i>
</button>
<ul class="bab-MainNav-container js-nav-items">
    <li class="bab-MainNav-item"><a href="{{ path('babdelaurablog_accueil') }}" title="">Accueil</a></li>

    {% for categorie in listeCategories %}
        <li class="bab-MainNav-item">
            {% set enfants = categorie.enfantsVisibles %}
            <a href="{{ path('babdelaurablog_categorie', {'slug' : categorie.slug}) }}" title="{{categorie.nom}}">
                {{categorie.nom}}
                {% if enfants|length %}
                    <i class="fa fa-caret-down"></i>
                {% endif %}
            </a>
            {% if enfants|length >  0 %}
                <ul class="bab-MainNav-submenu">
                    {% for categorieEnfant in enfants %}
                        <li class="bab-MainNav-submenuItem">
                            <a href="{{ path('babdelaurablog_categorie', {'slug' : categorieEnfant.slug}) }}" title="{{categorieEnfant.nom}}">{{categorieEnfant.nom}}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}

    {% for page in listePages %}
        <li class="bab-MainNav-item">
            <a href="{{ path('babdelaurablog_page', {'slug' : page.slug}) }}" title="{{page.titre}}">{{page.titre}}</a>
        </li>
    {% endfor %}
</ul>
