<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content="{{ metaDescription|default('Blog traitant du nail art et de la création de bijoux en pâte polymère') }}" />

        {% block facebookMetas %}
            <meta property="og:site_name" content="Bric à Brac de Laura" />
            <meta property="og:locale" content="fr_FR" />
            <meta property="og:type" content="website" />
            <meta property="og:url" content="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
            <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() ~ ogImage|default(asset('images/header-bijoux.jpg')) }}" />
            <meta property="og:title" content="{{ ogTitle|default('Bric à Brac de Laura') }}" />
            <meta property="og:description" content="{{ metaDescription|default('Blog traitant du nail art et de la création de bijoux en pâte polymère.') }}" />
        {% endblock %}

        <title>{% block pageTitle %}{% endblock %}Bric à Brac de Laura</title>

        <link rel="stylesheet" media="screen" href="{{asset('css/main.css') }}" />

        {% include 'BabdelauraBlogBundle::favicon.html.twig' %}
    </head>
    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.3";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <header class="bab-Header">
            <a class="bab-Header-link" href="{{ path('babdelaurablog_accueil') }}">Revenir à l'accueil</a>
        </header>

        <nav class="bab-MainNav js-nav">
            <div class="bab-Wrapper">
                {{ render(controller('BabdelauraBlogBundle:Blog:mainMenu')) }}
            </div>
        </nav>

        <div class="content">
            <div class="content-inner bab-Wrapper">
                <div class="bab-Grid">
                    {% block content %}
                    <div class="bab-Grid-cell bab-Grid-cell--2-3 bab-Grid-cell--1-1@small">
                        {% block mainContent %}
                        {% endblock %}
                    </div>
                    <div class="bab-Grid-cell bab-Grid-cell--1-3 bab-Grid-cell--1-1@small">
                        {% block sidebar %}
                        <section class="bab-Sidebar-section">
                            <form method="get" action="{{ path('babdelaurablog_recherche') }}">
                                <input name="motscles" id="search" placeholder="Rechercher" />
                            </form>
                        </section>
                        <section class="bab-Sidebar-section">
                            <h1 class="bab-Sidebar-title">Où me trouver</h1>
                            <ul class="bab-Social">
                                <li class="bab-Social-link">
                                    <a href="https://www.facebook.com/BabDeLaura" target="_blank" title="Facebook">
                                        <i class="bab-Social-icon bab-Social-icon--fb"></i>
                                        Bric à Brac de Laura
                                    </a>
                                </li>
                                <li class="bab-Social-link">
                                    <a href="https://twitter.com/BabDeLaura" target="_blank" title="Twitter">
                                        <i class="bab-Social-icon bab-Social-icon--twitter"></i>
                                        @BabDeLaura
                                    </a>
                                </li>
                                <li class="bab-Social-link">
                                    <a href="http://www.pinterest.com/BabDeLaura/" target="_blank" title="Pinterest">
                                        <i class="bab-Social-icon bab-Social-icon--pinterest"></i>
                                        BabDeLaura
                                    </a>
                                </li>
                                <li class="bab-Social-link">
                                    <a href="http://instagram.com/BabDeLaura" target="_blank" title="Instagram">
                                        <i class="bab-Social-icon bab-Social-icon--instagram"></i>
                                        BabDeLaura
                                    </a>
                                </li>
                                <li class="bab-Social-link">
                                    <a href="http://www.hellocoton.fr/mapage/bricabrac-de-laura" target="_blank" title="Hellocoton">
                                        <i class="bab-Social-icon bab-Social-icon--hellocoton"></i>
                                        Bricabrac-de-laura
                                    </a>
                                </li>
                                <li class="bab-Social-link">
                                    <a href="mailto:bab-de-laura@hotmail.fr" title="Mail">
                                        <i class="bab-Social-icon bab-Social-icon--mail"></i>
                                        Contact
                                    </a>
                                </li>

                            </ul>
                        </section>
                        {% if app.environment == 'prod' %}
                            {{render(controller('BabdelauraBlogBundle:Instagram:chargerFlux'))}}
                        {% endif %}
                        {% endblock %}
                    </div>
                    {% endblock %}
                </div>
            </div>
        </div>
        <footer class="bab-Footer">
            Site développé du bout de mes ongles.
        </footer>
        <div class="bab-CookieBar js-cookie-bar">
            <p class="bab-CookieBar-content">
                En poursuivant votre navigation sur ce site, vous acceptez l’utilisation de cookies.
                <button class="bab-CookieBar-button js-cookie-bar-button" type="button">
                    J'accepte
                </button>
            </p>
        </div>

        {% block javascripts %}
            <script src="{{ asset('js/app.js') }}"></script>

            {% if app.environment == 'prod' %}
                <script src="{{ asset('bundles/babdelaurablog/js/google-analytics.js') }}" async></script>
            {% endif %}

            <script type="text/javascript" async defer data-pin-hover="true" src="//assets.pinterest.com/js/pinit.js"></script>
        {% endblock %}
    </body>
</html>
