<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content="{{ metaDescription|default('Blog traitant du nail art et de la création de bijoux en pâte polymère') }}" />

        {% block facebookMetas %}
            <meta property="og:site_name" content="Bric à Brac de Laura" />
            <meta property="og:locale" content="fr_FR" />
            <meta property="og:type" content="website" />
            <meta property="og:url" content="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
            <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() ~ ogImage|default(asset('images/header-bijoux.jpg')) }}" />
            <meta property="og:title" content="{{ ogTitle|default('Bric à Brac de Laura') }}" />
            <meta property="og:description" content="{{ metaDescription|default('Blog traitant du nail art et de la création de bijoux en pâte polymère.') }}" />
        {% endblock %}

        <title>{% block pageTitle %}{% endblock %}Bric à Brac de Laura</title>

        <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Vollkorn:400,400i,700,700i" rel="stylesheet" />
        <link rel="stylesheet" media="screen" href="{{ asset('css/main.css') }}" />

        {% include 'BabdelauraBlogBundle::favicon.html.twig' %}
    </head>
    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.3";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <button class="bab-NavigationTrigger" id="navigation-trigger" type="button">
            <span class="bab-NavigationTrigger-burger"></span>
        </button>

        {% include 'BabdelauraBlogBundle:Layout:header.html.twig' %}

        {% include 'BabdelauraBlogBundle:Layout:logo.html.twig' %}

        <div class="bab-Wrapper">
            <main class="bab-Main">{% block content %}{% endblock %}</main>

            {#{% include 'BabdelauraBlogBundle:Layout:instagram.html.twig' %}#}

            {% include 'BabdelauraBlogBundle:Components:separator.html.twig' %}
        </div>

        {{ render(controller('BabdelauraBlogBundle:Blog:footer')) }}

        {% include 'BabdelauraBlogBundle:Layout:cookiebar.html.twig' %}

        <div class="bab-Dropshadow js-dropshadow"></div>

        {% block javascripts %}
            <script src="{{ asset('js/app.js') }}"></script>

            {% if app.environment == 'prod' %}
                <script src="{{ asset('js/google-analytics.js') }}" async></script>
            {% endif %}

            {#<script type="text/javascript" async defer data-pin-hover="true" src="//assets.pinterest.com/js/pinit.js"></script>#}
        {% endblock %}
    </body>
</html>
