<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content="{{ metaDescription|default('Blog traitant du nail art et de la création de bijoux en pâte polymère') }}" />

        {% block facebookMetas %}
            <meta property="og:site_name" content="Bric à Brac de Laura" />
            <meta property="og:locale" content="fr_FR" />
            <meta property="og:type" content="website" />
            <meta property="og:url" content="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
            <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() ~ ogImage|default(asset('images/header-bijoux.jpg')) }}" />
            <meta property="og:title" content="{{ ogTitle|default('Bric à Brac de Laura') }}" />
            <meta property="og:description" content="{{ metaDescription|default('Blog traitant du nail art et de la création de bijoux en pâte polymère.') }}" />
        {% endblock %}

        <title>{% block pageTitle %}{% endblock %}Bric à Brac de Laura</title>

        <link rel="stylesheet" media="screen" href="{{asset('css/main.css') }}" />

        {% include 'BabdelauraBlogBundle::favicon.html.twig' %}
    </head>
    <body>
        <header class="bab-Header">
            <div class="bab-Wrapper">
                <div class="bab-Grid">
                    <div class="bab-Grid-cell bab-Grid-cell--1-6">&nbsp;</div>
                    <div class="bab-Grid-cell bab-Grid-cell--2-3">
                        <nav class="bab-Navigation">
                            <a class="bab-Navigation-item" href="#">
                                Bijoux
                            </a>
                            <a class="bab-Navigation-item" href="#">
                                Nail art
                            </a>
                            <a class="bab-Navigation-item" href="#">
                                Divers
                            </a>
                            <a class="bab-Navigation-item" href="#">
                                Qui suis-je ?
                            </a>
                            <a class="bab-Navigation-item bab-Navigation-item--odd" href="#">
                                Boutique
                            </a>
                            <a class="bab-Navigation-item" href="#">
                                Contact
                            </a>
                        </nav>
                    </div>
                    <div class="bab-Grid-cell bab-Grid-cell--1-6">&nbsp;</div>
                </div>
            </div>
        </header>

        <a class="bab-Logo" href="#" title="Revenir à l'accueil"></a>

        {% block javascripts %}
            <script src="{{ asset('js/app.js') }}"></script>

            {% if app.environment == 'prod' %}
                <script src="{{ asset('js/google-analytics.js') }}" async></script>
            {% endif %}

            <script type="text/javascript" async defer data-pin-hover="true" src="//assets.pinterest.com/js/pinit.js"></script>
        {% endblock %}
    </body>
</html>
