{% extends "BabdelauraBlogBundle::layout.html.twig" %}

{% block content %}

  <h1>Confirmer la suppression</h1>

    <p>
      Etes-vous certain de vouloir supprimer {{entite.prefixeType}}{{entite.type}} "{{ entite.description }}" ?
    </p>


    <form action="{{ path }}" method="post">
      <a href="{{ path(entite.pathList)}}" class="bab-Button">Annuler</a>

      <button class="bab-Button" type="submit">Supprimer</button>
      {{ form_rest(form) }}
    </form>

 {% endblock %}
