{% import "BabdelauraAdminBundle:Macros:topbar.html.twig" as topbar %}
{% import "BabdelauraAdminBundle:Macros:navigation.html.twig" as navigation %}
{% import "BabdelauraAdminBundle:Macros:filter.html.twig" as filter %}

<!doctype html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Administration - Bric à Brac de Laura</title>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Vollkorn:400,400i,700,700i" rel="stylesheet" />
  <script src="{{ asset('assets/admin.js') }}"></script>
</head>

<body>
  {{
    topbar.topbar([
      {
        pullRight: false,
        items: [
          {
            href: "#",
            icon: "eye",
            text: "Se rendre sur le blog"
          },
          {
            href: "#",
            icon: "comments",
            text: "44"
          },
        ]
      },
      {
        pullRight: true,
        items: [
          {
            href: "#",
            icon: "logout",
            text: "Se déconnecter"
          },
        ]
      }
    ])
  }}

  <div class="Sidebar">
    {{
      navigation.navigation([
        {
          current: false,
          href: '#',
          icon: 'home',
          text: 'Accueil',
          subItems: []
        },
        {
          current: false,
          href: '#',
          icon: 'stats',
          text: 'Statistiques',
          subItems: []
        }
      ])
    }}

    {{
      navigation.navigation([
        {
          current: true,
          href: '#',
          icon: 'articles',
          text: 'Articles',
          subItems: [
            {
              current: true,
              href: '#',
              text: 'Tous les articles'
            },
            {
              current: false,
              href: '#',
              text: 'Ajouter un article'
            },
            {
              current: false,
              href: '#',
              text: 'Catégories'
            },
            {
              current: false,
              href: '#',
              text: 'Tags'
            }
          ]
        },
        {
          current: false,
          href: '#',
          icon: 'pages',
          text: 'Pages',
          subItems: [
            {
              current: false,
              href: '#',
              text: 'Toutes les pages'
            },
            {
              current: false,
              href: '#',
              text: 'Ajouter une page interne'
            },
            {
              current: false,
              href: '#',
              text: 'Ajouter une page externe'
            }
          ]
        },
        {
          current: false,
          href: '#',
          icon: 'comments',
          text: 'Commentaires',
          subItems: []
        },
        {
          current: false,
          href: '#',
          icon: 'gallery',
          text: 'Galerie',
          subItems: []
        }
      ])
    }}

  </div>
  <div class="Content">
    <h1 class="Title Title-main">Accueil</h1>

    <div class="Box">
      <h2 class="Title Title-secondary">Ajouter une nouvelle catégorie </h2>
      <p>Lalalla <br>
        lalalla <br>
        lallala <br>
        lallala</p>
    </div>

    {{
      filter.filter([
        {
          current: true,
          href: '#',
          text: 'Tous',
          count: 5
        },
        {
        current: false,
        href: '#',
        text: 'Publiés',
        count: 3
        },
        {
        current: false,
        href: '#',
        text: 'Brouillons',
        count: 2
        }
      ])
    }}

    <form class="Form" action="#" method="post">
      <input type="text" class="Form_field Form_field-input" name="" value="">
      <button type="submit" class="Form_field Form_field-button" name="button">Rechercher</button>
    </form>

    <form class="Form" action="#" method="post">
      <input type="text" class="Form_field Form_field-input" name="" value="">
      <select class="Form_field Form_field-select" name="">
        <option value="Publié">Publié</option>
        <option value="Brouillon">Brouillon</option>
      </select>
      <button type="submit" class="Form_field Form_field-button" name="button">Annuler</button>
      <button type="submit" class="Form_field Form_field-button Form_field-submit" name="button">Enregistrer</button>
    </form>


  </div>
</body>

</html>
