{% import "BabdelauraAdminBundle:Macros:topbar.html.twig" as topbar %}
{% import "BabdelauraAdminBundle:Macros:navigation.html.twig" as navigation %}
{% import "BabdelauraAdminBundle:Macros:filter.html.twig" as filter %}

<!doctype html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Administration - Bric à Brac de Laura</title>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Vollkorn:400,400i,700,700i" rel="stylesheet" />
  <script src="{{ asset('assets/admin.js') }}"></script>
</head>

<body>
  {{
    topbar.topbar([
      {
        pullRight: false,
        items: [
          {
            href: "#",
            icon: "eye",
            text: "Se rendre sur le blog"
          },
          {
            href: "#",
            icon: "comments",
            text: "44"
          },
        ]
      },
      {
        pullRight: true,
        items: [
          {
            href: "#",
            icon: "logout",
            text: "Se déconnecter"
          },
        ]
      }
    ])
  }}

  <div class="Sidebar">
    {{
      navigation.navigation([
        {
          current: false,
          href: '#',
          icon: 'home',
          text: 'Accueil',
          subItems: []
        },
        {
          current: false,
          href: '#',
          icon: 'stats',
          text: 'Statistiques',
          subItems: []
        }
      ])
    }}

    {{
      navigation.navigation([
        {
          current: true,
          href: '#',
          icon: 'articles',
          text: 'Articles',
          subItems: [
            {
              current: true,
              href: '#',
              text: 'Tous les articles'
            },
            {
              current: false,
              href: '#',
              text: 'Ajouter un article'
            },
            {
              current: false,
              href: '#',
              text: 'Catégories'
            },
            {
              current: false,
              href: '#',
              text: 'Tags'
            }
          ]
        },
        {
          current: false,
          href: '#',
          icon: 'pages',
          text: 'Pages',
          subItems: [
            {
              current: false,
              href: '#',
              text: 'Toutes les pages'
            },
            {
              current: false,
              href: '#',
              text: 'Ajouter une page interne'
            },
            {
              current: false,
              href: '#',
              text: 'Ajouter une page externe'
            }
          ]
        },
        {
          current: false,
          href: '#',
          icon: 'comments',
          text: 'Commentaires',
          subItems: []
        },
        {
          current: false,
          href: '#',
          icon: 'gallery',
          text: 'Galerie',
          subItems: []
        }
      ])
    }}

  </div>
  <div class="Content">
    <h1 class="Title Title-main">Accueil</h1>

    <div class="Box">
      <h2 class="Title Title-secondary">Ajouter une nouvelle catégorie </h2>
      <p>Lalalla <br>
        lalalla <br>
        lallala <br>
        lallala</p>
    </div>

    {{
      filter.filter([
        {
          current: true,
          href: '#',
          text: 'Tous',
          count: 5
        },
        {
        current: false,
        href: '#',
        text: 'Publiés',
        count: 3
        },
        {
        current: false,
        href: '#',
        text: 'Brouillons',
        count: 2
        }
      ])
    }}

    <form class="Form" action="#" method="post">
      <input type="text" class="Form_field Form_field-input" name="" value="">
      <button type="submit" class="Form_field Form_field-button" name="button">Rechercher</button>
    </form>

    <form class="Form" action="#" method="post">
      <input type="text" class="Form_field Form_field-input" name="" value="">
      <select class="Form_field Form_field-select" name="">
        <option value="Publié">Publié</option>
        <option value="Brouillon">Brouillon</option>
      </select>
      <button type="submit" class="Form_field Form_field-button" name="button">Annuler</button>
      <button type="submit" class="Form_field Form_field-button Form_field-submit" name="button">Enregistrer</button>
    </form>

    <table class="Listing">
      <thead class="Listing_head">
        <tr>
          <th class="Listing_cell Listing_cell-heading Listing_cell-alignLeft">Titre</th>
          <th class="Listing_cell Listing_cell-heading Listing_cell-alignLeft">Catégorie</th>
          <th class="Listing_cell Listing_cell-heading">Tags</th>
          <th class="Listing_cell Listing_cell-heading">Com</th>
          <th class="Listing_cell Listing_cell-heading">Date</th>
          <th class="Listing_cell Listing_cell-heading">Etat</th>
        </tr>
      </thead>
      <tbody class="Listing_body">
        <tr class="Listing_line">
          <td class="Listing_cell Listing_cell-highlighted">
            5 raisons pour lesquelles j'aime l'été

            <div class="Listing_actions">
              <a href="#" class="Listing_action">Modification</a>
              <button type="button" class="Listing_action">Modification rapide</button>
              <button type="button" class="Listing_action Listing_action-dangerous">Supprimer</button>
              <a href="#" class="Listing_action">Afficher</a>
            </div>
          </td>
          <td class="Listing_cell">
            Humeur
          </td>
          <td class="Listing_cell Listing_cell-alignCenter">
            été, lifestyle
          </td>
          <td class="Listing_cell Listing_cell-alignCenter">
            -
          </td>
          <td class="Listing_cell Listing_cell-alignCenter">
            15/08/2017
          </td>
          <td class="Listing_cell Listing_cell-alignCenter Listing_cell-highlighted">
            Brouillon
          </td>
        </tr>
        <tr class="Listing_line Listing_line-quickEdit">
          <td class="Listing_cell" colspan="6">
            <form class="Form Form-quickEdit">
              <h2 class="Title Title-secondary">Modification rapide</h2>
              <div class="Grid">
                <div class="Grid_cell">
                  <fieldset class="Form_group">
                    <div class="Form_row">
                      <label class="Form_label">
                        Titre
                      </label>
                      <div class="Form_widget">
                        <input type="text" class="Form_field" />
                      </div>
                    </div>
                    <div class="Form_row">
                      <label class="Form_label">Date</label>
                      <div class="Form_widget">
                        <input type="datetime-local" class="Form_field" />
                      </div>
                    </div>
                    <div class="Form_row">
                      <label class="Form_label">Etat</label>
                      <div class="Form_widget">
                        <select class="Form_field">
                          <option>Publié</option>
                          <option>Brouillon</option>
                        </select>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="Grid_cell">
                  <fieldset class="Form_group">
                    <div class="Form_row">
                      <label class="Form_label">Catégorie</label>
                      <div class="Form_widget">
                        <select class="Form_field">
                          <option>Mode et beauté</option>
                          <option>Humeur</option>
                        </select>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="Grid_cell">
                  <fieldset class="Form_group">
                    <div class="Form_row">
                      <label class="Form_label">Tags</label>
                      <div class="Form_widget">
                        <input type="text" class="Form_field" />
                        <p>Tags les plus utilisés :</p>
                        <div>
                          <button class="Tag Tag-clickable" type="button">Machin</button>
                          <button class="Tag Tag-clickable" type="button">Chose</button>
                          <button class="Tag Tag-clickable" type="button">Truc</button>
                          <button class="Tag Tag-clickable" type="button">Bidule</button>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
              <div class="Form_actions">
                <button class="Form_field Form_field-button" type="button">Annuler</button>
                <button class="Form_field Form_field-button Form_field-submit" type="submit">Enregistrer</button>
              </div>
            </form>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</body>

</html>
